.header-breadcrumbs a {
  text-decoration: none;
  font-size: 13px;
  color: white;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #09b09e;
  min-width: 1150px;
  &-search {
    position: absolute;
    left: 120px;
    top: 1px;
    height: 21px;
    width: 185px;
    &-images {
      cursor: pointer;
      width: 28px;
      height: 25px;
      position: absolute;
      left: 308px;
      top: 2px;
      background-image: url(../../images/search.png);
      background-size: cover;
      background-color: white;
    }
  }
  &-social {
    position: absolute;
    left: 400px;
    top: 0;
    height: 30px;
    &-vk {
      cursor: pointer;
      display: inline-block;
      height: 30px;
      width: 32px;
      background-image: url(../../images/social-vk-white-35.png);
      background-size: cover;
    }
    &-fb {
      cursor: pointer;
      display: inline-block;
      height: 30px;
      width: 32px;
      background-image: url(../../images/social-fb-white-35.png);
      background-size: cover;
    }
    &-ok {
      cursor: pointer;
      display: inline-block;
      height: 30px;
      width: 32px;
      background-image: url(../../images/social-ok-white-35.png);
      background-size: cover;
    }
    &-ig {
      cursor: pointer;
      display: inline-block;
      height: 30px;
      width: 32px;
      background-image: url(../../images/social-ig-white-35.png);
      background-size: cover;
    }
  }
  &-breadcrumbs {
    position: absolute;
    right: 150px;
    margin: 0 auto;
    top: 4px;
  }
}
.logo {
  position: relative;
  width: 1050px;
  height: 110px;
  margin-top: 55px;
  min-width: 1150px;
  &-image {
    width: 104px;
    height: 120px;
    background-image: url(../../images/logo.png);
    position: absolute;
    top: 0;
    left: 120px;
  }
  &-text {
    position: absolute;
    left: 235px;
    top: 30px;
    font-size: 25px;
  }
  &-ad {
    text-align: center;
    font-size: 35px;
    color: #808080;
    width: 620px;
    height: 100%;
    position: absolute;
    right: 65px;
    background: #ebebeb;
  }
}
.body {
  @extend .logo;
  margin-top: 30px;
  height: 675px;
  &-breadcrumbs {
    font-size: 19px;
    font-family: Roboto;
    padding-left: 5px;
    padding-top: 5px;
    color: white;
    background: #f54260;
    width: 1050px;
    height: 40px;
    position: absolute;
    left: 118px;
    &-logout {
      position: absolute;
      cursor: pointer;
      right: 28px;
      top: 11px;
      &-lock {
        position: absolute;
        right: 2px;
        background-size: cover;
        top: 8px;
        width: 31px;
        height: 26px;
        background-image: url(../../images/lock_35x35.png);
      }
    }
    &-arrow {
      width: 25px;
      height: 19px;
      cursor: default;
      display: inline-block;
      background-image: url("../../images/arrow-right.png");
    }
  }
  ::-webkit-scrollbar{
    width:7px;
  }
  ::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
  }
  ::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
  }
  ::-webkit-scrollbar-track{
    border-width:0;
  }
  ::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
  }
  &-section {
    width: 230px;
    position: absolute;
    top: 70px;
    left: 118px;
    &-list {
      font-size: 20px;
      overflow: auto;
      overflow-x: hidden;
      height: 315px;
      margin-top: 10px;
      border: 1px solid #09b09e;
      border-right: none;
      &-item {
        height: 30px;
        cursor: pointer;
        margin-bottom: 3px;
        &:focus {
          color: white;
          background-color: #f54260;
        }
      }
    }
  }
  &-ad {
    position: absolute;
    bottom: 0;
    left: 116px;
    width: 230px;
    height: 230px;
    background-color: #ebebeb;
    color: #808080;
  }
  &-content {
    width: 790px;
    position: absolute;
    margin-bottom: 50px;
    left: 385px;
    top: 70px;
    &-breadcrumbs {
      border-bottom: 2px solid #09b09e;
      &-item {
        font-size: 15px;
        color: #09b09e;
        border-bottom: 4px solid #09b09e;
      }
    }
    &-location {
      width: 100%;
      margin-top: 20px;
      &-header {
        padding: 5px;
        color: white;
        background: #f54260;
        border-radius: 3px;
      }
      &-info{
        margin-top: 3px;
        width: 100%;
        background: #ebebeb;
        border-top: 2px solid #f54260;
        &-description {
          font-size: 20px;
          margin: 45px;
          margin-bottom: 0;
          &-text {
            color: #555555;
            font-size: 14px;
            position: absolute;
            left: 350px;
          }
          &-save {
            box-shadow:  1px 1px 0 rgba(0,0,0,0.5);
            cursor: pointer;
            font-family: Roboto;
            padding: 2px;
            font-size: 16px;
            text-align: center;
            position: absolute;
            bottom: 40px;
            left: 60px;
            width: 125px;
            height: 30px;
            color: white;
            background-color: #09b09e;
            &:hover {
              background-color: #4eb0a4;
            }
            &:active {
              background-color: #0ab09f;
            }
          }
          &-printer {
            position: absolute;
            bottom: 44px;
            left: 225px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            background-image: url(../../images/printer.png);
          }
        }
      }
    }
  }
}