@font-face {
  font-family: Arbat;
  src: local('Arbat'),
  url(../fonts/Arbat_Bold.ttf);
}
@font-face {
  font-family: Roboto;
  src: local('Roboto'),
  url(../fonts/Roboto_Regular.ttf);
}
@import "office/one_string";